<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <meta name="fragment" content="!">
  <meta name="description" content="MEAN app for the Artoo Campus">
  <meta name="author" content="WeBox Studio">
  <meta name="application-name" content="Artoo Campus">
  <meta name="viewport" content="width=device-width">
  <title>Artoo Campus - Controllers</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="app">

  <!-- bind the item controller to an element -->
  <div ng-controller="Itemcontroller" class="container text-center">
    <h1 ng-bind="titolo"></h1>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Immagine</th>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th>Slots</th>
                    <th>Elimina</th>
                </tr>
            </thead>
            <!-- popolamento tabella dinamicamente -->
            <tbody>
              <tr ng-repeat="arma in listaArmi">
                  <td><img ng-src="{{arma.image}}" width="100px"></td>
                  <td ng-bind="arma.nome"></td>
                  <td ng-bind="arma.descrizione"></td>
                  <td>Numero di slot: <span ng-bind="arma.slots"></span></td>
                  <td><button class="btn btn-danger" ng-click="elimina(arma.id,$index)">Elimina</button></td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 col-sm-8 col-xs-12">
      <div ng-show="listanumeri.length" ng-repeat="numero in listanumeri">
        <p ng-bind="numero"></p>
      </div>
    </div>
    </div>
    <!-- chiusura container -->
</div>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="item.controller.js"></script>
  <!-- load the item controller -->
</body>

</html>
